<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskGo</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/output.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" type="image/x-icon" href="../../public/favicons/favicon.ico">
</head>

<body class="bg-primary-100 min-h-screen font-montserrat">
    <header class="bg-primary-200 py-4">
        <div class="flex items-center justify-between px-4">
            <div class="text-primary-500 w-10 h-10 rounded-full bg-white flex items-center justify-center opacity-70">
                <a href=""><img src="/public/images/taskgo-logo.png" alt=""></a>
            </div>

            <h1 class="font-bold text-xl text-dark-900">Đặt ngay</h1>
            <div class="w-10 h-10 flex items-center justify-center">
                <a href=""><span class="material-symbols-outlined text-primary-500 text-4xl">menu</span></a>
            </div>
        </div>
    </header>

    <main class="p-4 space-y-4 pb-20">
        <!-- Cleaning house sections -->
        <div class="bg-white rounded-xl shadow-md p-4 space-y-4">

            <div class="flex items-center justify-between border-b pb-2">
                <h2 class="text-2xl font-bold text-primary-500">Ghi chú cho Tasker</h2>
            </div>

            <p class="text-xs mb-4">
                Ghi chú này sẽ giúp Tasker hoàn thành công việc tốt hơn
            </p>

            <div class="mb-6">
                <textarea rows="5" class="w-full 
               p-3 
               border border-gray-300 
               rounded-lg 
               focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-primary-500"
                    placeholder="Bạn có yêu cầu gì thêm hãy nhập ở đây"></textarea>
            </div>
            <div class="flex space-x-4">
                <button class="action-btn action-btn-hover">
                    <a href="">100.000 VND/2h</a>
                </button>
            </div>
        </div>
    </main>

    <footer>
        <nav class="fixed bottom-0 left-0 right-0 bg-primary-200 border-t shadow-xl">
            <div class="flex justify-around py-2 text-base">
                <a href="#" class="flex flex-col items-center text-white">
                    <span class="material-symbols-outlined text-4xl">house</span>
                    Trang chủ
                </a>
                <a href="#" class="flex flex-col items-center text-primary-500">
                    <span class="material-symbols-outlined text-4xl">news</span>
                    Hoạt động
                </a>
                <a href="#" class="flex flex-col items-center text-primary-500">
                    <span class="material-symbols-outlined text-4xl">chat</span>
                    Tin nhắn
                </a>
                <a href="#" class="flex flex-col items-center text-primary-500">
                    <span class="material-symbols-outlined text-4xl">lightbulb</span>
                    Thông báo
                </a>
            </div>
        </nav>
    </footer>
</body>

</html>