<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskGo</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/output.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" type="image/x-icon" href="../../public/favicons/favicon.ico">
</head>

<body class="bg-primary-100 min-h-screen font-montserrat">
    <header class="bg-primary-200 py-4">
        <div class="flex items-center justify-between px-4">
            <div class="text-primary-500 w-10 h-10 rounded-full bg-white flex items-center justify-center opacity-70">
                <a href=""><img src="/public/images/taskgo-logo.png" alt=""></a>
            </div>

            <h1 class="font-bold text-xl text-dark-900">Dịch vụ của bạn</h1>
            <div class="w-10 h-10 flex items-center justify-center">
                <a href=""><span class="material-symbols-outlined text-primary-500 text-4xl">menu</span></a>
            </div>
        </div>
    </header>

    <main class="p-4 space-y-4 pb-32">
        <div class="bg-white rounded-xl shadow-md p-4 space-y-4">
            <!-- Dịch vụ 1 -->
            <div class="flex justify-between text-base items-center border-b border-gray-400 pb-4">
                <div>
                    <p class="text-gray-400">Dọn dẹp nhà</p>
                    <p class="font-semibold text-dark-900">100.000 VND</p>
                </div>

                <div class="flex items-center space-x-2 text-sm font-medium rounded-lg p-1">
                    <button
                        class="quantity-action-btn quantity-action-btn-hover">
                        &minus;
                    </button>
                    <span class="px-4 text-gray-400 whitespace-nowrap">2 giờ</span>
                    <button
                        class="quantity-action-btn quantity-action-btn-hover">
                        &plus;
                    </button>
                </div>
            </div>

            <!-- Dịch vụ 2 -->
            <div class="flex justify-between text-base items-center border-b border-gray-400 pb-4">
                <div>
                    <p class="text-gray-400">Vệ sinh máy giặt</p>
                    <p class="font-semibold text-dark-900">200.000 VND</p>
                </div>

                <div class="flex items-center space-x-2 text-sm font-medium rounded-lg p-1">
                    <button
                        class="quantity-action-btn quantity-action-btn-hover">
                        &minus;
                    </button>
                    <span class="px-4 text-gray-400 whitespace-nowrap">1 cái</span>
                    <button
                        class="quantity-action-btn quantity-action-btn-hover">
                        &plus;
                    </button>
                </div>
            </div>

            <!-- Dịch vụ 3 -->
            <div class="flex justify-between text-base items-center border-b border-gray-400 pb-4">
                <div>
                    <p class="text-gray-400">Trông trẻ</p>
                    <p class="font-semibold text-dark-900">200.000 VND</p>
                </div>

                <div class="flex items-center space-x-2 text-sm font-medium rounded-lg p-1 ">
                    <button
                        class="quantity-action-btn quantity-action-btn-hover">
                        &minus;
                    </button>
                    <span class="px-4 text-gray-400 whitespace-nowrap">3 giờ</span>
                    <button
                        class="quantity-action-btn quantity-action-btn-hover">
                        &plus;
                    </button>
                </div>
            </div>
        </div>

        <a href="#"
            class="flex justify-between items-center bg-white rounded-xl shadow-md p-4 text-gray-400 font-medium hover:bg-gray-50">
            <span class="flex items-center space-x-2">
                <span class="material-symbols-outlined text-gray-100 text-xl">confirmation_number</span>
                <span>Thêm mã giảm giá</span>
            </span>
            <span class="material-symbols-outlined text-gray-400">chevron_right</span>
        </a>

        <div class="bg-white rounded-xl shadow-md p-4 space-y-2 text-sm">

            <div class="flex justify-between">
                <span class="text-gray-600">Tổng tiền</span>
                <span class="font-medium text-gray-800">500.000</span>
            </div>

            <div class="flex justify-between border-b border-gray-100 pb-2">
                <span class="text-gray-600">Phí dịch vụ (nếu có)</span>
                <span class="text-primary-dark">+30.000</span>
            </div>

            <div class="flex justify-between text-base pt-2">
                <span class="font-bold text-gray-800">Tổng tiền</span>
                <span class="font-bold text-gray-800">530.000</span>
            </div>

        </div>

        <div class="flex justify-between items-center space-x-4">

            <p class="text-xl font-bold text-gray-800">530.000 VND</p>

            <button
                class="action-btn action-btn-hover ">
                Tiếp theo
            </button>

        </div>


    </main>

    <footer>
        <nav class="fixed bottom-0 left-0 right-0 bg-primary-200 border-t shadow-xl">
            <div class="flex justify-around py-2 text-base">
                <a href="#" class="flex flex-col items-center text-primary-500">
                    <span class="material-symbols-outlined text-4xl">house</span>
                    Trang chủ
                </a>
                <a href="#" class="flex flex-col items-center text-white">
                    <span class="material-symbols-outlined text-4xl">news</span>
                    Hoạt động
                </a>
                <a href="#" class="flex flex-col items-center text-primary-500">
                    <span class="material-symbols-outlined text-4xl">chat</span>
                    Tin nhắn
                </a>
                <a href="#" class="flex flex-col items-center text-primary-500">
                    <span class="material-symbols-outlined text-4xl">lightbulb</span>
                    Thông báo
                </a>
            </div>
        </nav>
    </footer>
</body>

</html>