<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskGo</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/output.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap">
  <link rel="icon" type="image/x-icon" href="../../public/favicons/favicon.ico">
</head>

<body>
  <h1 class="font-montserrat font-bold underline text-primary-500 bg-primary-200 border-primary-400 border-2">
    Service List Page
  </h1>
</body>

</html>