<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskGo</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/output.css">
  <link rel="icon" type="image/x-icon" href="../../public/favicons/taskgo-favicon.ico">
</head>

<body>
  <h1 class="text-3xl font-bold underline text-center my-4">
    Hello world!
  </h1>
  <div class="text-center">
    <button class="btn-primary">
      Gửi Tin Nhắn
    </button>
  </div>
</body>

</html>