<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskGo</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/output.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="icon" type="image/x-icon" href="../../public/favicons/favicon.ico">
</head>

<body class="bg-primary-100 min-h-screen font-montserrat">
  <header class="bg-primary-200 py-4">
    <div class="flex items-center justify-between px-4">
      <div class="text-primary-500 w-10 h-10 rounded-full bg-white flex items-center justify-center opacity-70">
        <a href=""><img src="/public/images/taskgo-logo.png" alt=""></a>
      </div>

      <h1 class="font-bold text-xl text-dark-900">Danh sách dịch vụ</h1>
      <div class="w-10 h-10 flex items-center justify-center">
        <a href=""><span class="material-symbols-outlined text-primary-500 text-4xl">menu</span></a>
      </div>
    </div>
  </header>

  <main class="p-4 space-y-4 pb-20">
    <!-- Favorite services section -->
    <div class="bg-white rounded-xl shadow-md p-4 space-y-4">

      <div class="flex items-center justify-between border-b pb-2">
        <h2 class="text-2xl font-bold text-primary-500">Dịch vụ yêu thích</h2>
        <a href=""><span class="material-symbols-outlined text-primary-500 text-4xl">edit</span></a>
      </div>

      <div class="grid grid-cols-3 gap-y-4 text-center text-base">

        <div class="space-y-1"> 
          <a href="./detail_pages/cleaning_house.html" class="flex flex-col items-center space-y-1 text-black">
            <span
              class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">cleaning_services</span>
            <span>Dọn dẹp nhà</span>
          </a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/laundry.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">laundry</span>
            Giặt ủi
          </a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/market.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">shopping_cart</span>
            Đi chợ
          </a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/babysitting.html" class=" flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">child_care</span>
            Trông trẻ
          </a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/takecare_of_sickpeople.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">sick</span>
            Chăm sóc<br>người bệnh
          </a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/cooking.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">skillet</span>
            Nấu ăn<br>gia đình
          </a>
        </div>

      </div>
    </div>

    <!-- Cleaning services sections -->
    <div class="bg-white rounded-xl shadow-md p-4 space-y-4">

      <div class="flex items-center justify-between border-b pb-2">
        <h2 class="text-2xl font-bold text-primary-500">Dịch vụ vệ sinh</h2>
      </div>

      <div class="grid grid-cols-3 gap-y-4 text-center text-base">
        <div class="space-y-1">
          <a href="./detail_pages/cleaning_washing_machine.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">local_laundry_service</span>
            Vệ sinh<br>máy giặt
          </a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/cleaning_house.html" class="flex flex-col items-center space-y-1 text-black">
            <span
              class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">cleaning_services</span>
            Dọn dẹp nhà
          </a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/cleaning_air_conditioner.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">climate_mini_split</span>
            Vệ sinh<br>máy lạnh
          </a>
        </div>

      </div>
    </div>

    <!-- Take care services sections -->
    <div class="bg-white rounded-xl shadow-md p-4 space-y-4">
      <div class="flex items-center justify-between border-b pb-2">
        <h2 class="text-2xl font-bold text-primary-500">Dịch vụ chăm sóc</h2>
      </div>

      <div class="grid grid-cols-3 gap-y-4 text-center text-base">
        <div class="space-y-1">
          <a href="./detail_pages/takecare_of_elder.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">elderly</span>
            Chăm sóc<br>người cao tuổi</a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/takecare_of_sickpeople.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">sick</span>
            Chăm sóc<br>người bệnh</a>
        </div>
      </div>
    </div>

    <!-- Utility services sections -->
    <div class="bg-white rounded-xl shadow-md p-4 space-y-4">
      <div class="flex items-center justify-between border-b pb-2">
        <h2 class="text-2xl font-bold text-primary-500">Dịch vụ tiện ích</h2>
      </div>

      <div class="grid grid-cols-3 gap-y-4 text-center text-base">
        <div class="space-y-1">
          <a href="./detail_pages/laundry.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">laundry</span>
            Giặt ủi
          </a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/cooking.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">skillet</span>
            Nấu ăn<br>gia đình
          </a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/market.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">shopping_cart</span>
            Đi chợ
          </a>
        </div>

        <div class="space-y-1">
          <a href="./detail_pages/babysitting.html" class="flex flex-col items-center space-y-1 text-black">
            <span class="material-symbols-outlined text-primary-500 p-4 mb-3 bg-card-bg bg-primary-200 rounded-md text-4xl">child_care</span>
            <p class="">Trông trẻ</p>
          </a>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <nav class="fixed bottom-0 left-0 right-0 bg-primary-200 border-t shadow-xl">
      <div class="flex justify-around py-2 text-base">
        <a href="#" class="flex flex-col items-center text-white">
          <span class="material-symbols-outlined text-4xl">house</span>
          Trang chủ
        </a>
        <a href="#" class="flex flex-col items-center text-primary-500">
          <span class="material-symbols-outlined text-4xl">news</span>
          Hoạt động
        </a>
        <a href="#" class="flex flex-col items-center text-primary-500">
          <span class="material-symbols-outlined text-4xl">chat</span>
          Tin nhắn
        </a>
        <a href="#" class="flex flex-col items-center text-primary-500">
          <span class="material-symbols-outlined text-4xl">lightbulb</span>
          Thông báo
        </a>
      </div>
    </nav>
  </footer>
</body>

</html>