<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskGo</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/output.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" type="image/x-icon" href="../../../public/favicons/favicon.ico">
</head>

<body class="bg-primary-100 min-h-screen font-montserrat">
    <header class="bg-primary-200 py-4">
        <div class="flex items-center justify-between px-4">
            <div class="text-primary-500 w-10 h-10 rounded-full bg-white flex items-center justify-center opacity-70">
                <a href=""><img src="../../../public/images/taskgo-logo.png" alt=""></a>
            </div>

            <h1 class="font-bold text-xl text-dark-900">Chi tiết dịch vụ</h1>
            <div class="w-10 h-10 flex items-center justify-center">
                <a href=""><span class="material-symbols-outlined text-primary-500 text-4xl">menu</span></a>
            </div>
        </div>
    </header>

    <main class="p-4 space-y-4 pb-20">
        <!-- Cleaning house sections -->
        <div class="bg-white rounded-xl shadow-md p-4 space-y-4">

            <div class="flex items-center justify-between border-b pb-2">
                <h2 class="text-2xl font-bold text-primary-500">Vệ sinh máy giặt</h2>
            </div>

            <p class="text-base mb-4">
                Đây là dịch vụ vệ sinh máy giặt với quy trình 6 bước:
            </p>

            <ul class="list-disc pl-5 space-y-2 text-sm text-dark-300 mb-6">
                <li>Bước 1: Bật máy kiểm tra tình trạng hoạt động</li>
                <li>Bước 2: Vệ sinh lưới lọc và van cấp nước</li>
                <li>Bước 3: Vệ sinh khay đựng nước giặt, xả; Vệ sinh lưới lọc xơ vải</li>
                <li>Bước 4: Vệ sinh lồng giặt</li>
                <li>Bước 5: Lắp ráp các linh kiện sau khi đã vệ sinh, lau khô</li>
                <li>Bước 6: Hoàn tất và kiểm tra lại</li>
            </ul>

            <!-- <p class="text-base mb-4 text-semibold">
                Giá dịch vụ là 500.000 VNĐ cho 1 máy giặt cửa trên với khối lượng 9kg trở xuống.
                <br>Giá dịch vụ là 700.000 VNĐ cho 1 máy giặt cửa trước với cùng khối lượng.
                <br>Với máy có khối lượng từ 9kg trở lên sẽ thêm 200k vào giá dịch vụ gốc.
            </p> -->

            <div class="space-y-4">
                <h3 class="font-bold text-dark-900 text-base">Vui lòng chọn Loại máy giặt với công suất!</h3>
                
                <!-- máy giặt cửa trên -->
                <div class="border rounded-xl p-4 space-y-3" data-type="top">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center gap-3">
                        <span class="material-symbols-outlined text-primary-500">view_agenda</span>
                        <span class="font-medium">Máy giặt cửa trên</span>
                        </div>

                        <div class="flex items-center gap-3">
                        <button class="add-device-btn w-8 h-8 rounded-full border text-lg">+</button>
                        </div>
                    </div>

                    <div class="flex gap-3">
                        <label class="flex items-center gap-2 border rounded-lg px-3 py-2 text-sm cursor-pointer">
                        <input type="radio" name="capacity_top" class="accent-primary-500">
                        <span>Dưới 9 Kg</span>
                        </label>
                        <label class="flex items-center gap-2 border rounded-lg px-3 py-2 text-sm cursor-pointer">
                        <input type="radio" name="capacity_top" class="accent-primary-500">
                        <span>Từ 9 Kg trở lên</span>
                        </label>
                    </div>

                    <div class="border-t pt-3">
                        <label class="flex items-center justify-between cursor-pointer">
                            <div class="flex items-center gap-3">
                                <span class="material-symbols-outlined text-orange-500">grid_view</span>
                                <div>
                                <p class="font-medium">Tháo lồng giặt</p>
                                </div>
                            </div>
                            <input type="checkbox" class="accent-primary-500">
                        </label>
                    </div>
                </div>

                <!-- máy giặt cửa trước -->
                <div class="border rounded-xl p-4 space-y-3" data-type="front">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center gap-3">
                        <span class="material-symbols-outlined text-primary-500">view_agenda</span>
                        <span class="font-medium">Máy giặt cửa trước</span>
                        </div>

                        <div class="flex items-center gap-3">
                        <button class="add-device-btn w-8 h-8 rounded-full border text-lg">+</button>
                        </div>
                    </div>

                    <div class="flex gap-3">
                        <label class="flex items-center gap-2 border rounded-lg px-3 py-2 text-sm cursor-pointer">
                        <input type="radio" name="capacity_front" class="accent-primary-500">
                        <span>Dưới 9 Kg</span>
                        </label>
                        <label class="flex items-center gap-2 border rounded-lg px-3 py-2 text-sm cursor-pointer">
                        <input type="radio" name="capacity_front" class="accent-primary-500">
                        <span>Từ 9 Kg trở lên</span>
                        </label>
                    </div>

                    <div class="border-t pt-3">
                        <label class="flex items-center justify-between cursor-pointer">
                            <div class="flex items-center gap-3">
                                <span class="material-symbols-outlined text-orange-500">grid_view</span>
                                <div>
                                <p class="font-medium">Tháo lồng giặt</p>
                                </div>
                            </div>
                            <input type="checkbox" class="accent-primary-500">
                        </label>
                    </div>
                </div>
            </div>

            <div id="deviceSummary" class="space-y-2 border-t pt-4"></div>

            <div id="price-summary" class="flex justify-between items-center bg-primary-400 rounded-xl p-4 text-primary transition-all duration-300 transform">
                <div>
                    <p class="text-xs opacity-80">Tổng tiền tạm tính</p>
                    <p id="total-price" class="text-2xl font-bold">0đ</p>
                    <p id="totalTimeText" class="text-xs mt-1 opacity-90">1 giờ</p>
                </div>
                <span class="material-symbols-outlined text-4xl">payments</span>
            </div>

            <div class="flex space-x-4">
                <button onclick="handleBookingNow()" class="action-btn action-btn-hover">
                Đặt ngay</a>
                </button>
                <button class="action-btn action-btn-hover">
                <a href="../scheduled.html">Đặt lịch trước</a>
                </button>
            </div>
            
        </div>
    </main>

    <footer>
        <nav class="fixed bottom-0 left-0 right-0 bg-primary-200 border-t shadow-xl">
            <div class="flex justify-around py-2 text-base">
                <a href="#" class="flex flex-col items-center text-white">
                    <span class="material-symbols-outlined text-4xl">house</span>
                    Trang chủ
                </a>
                <a href="#" class="flex flex-col items-center text-primary-500">
                    <span class="material-symbols-outlined text-4xl">news</span>
                    Hoạt động
                </a>
                <a href="#" class="flex flex-col items-center text-primary-500">
                    <span class="material-symbols-outlined text-4xl">chat</span>
                    Tin nhắn
                </a>
                <a href="#" class="flex flex-col items-center text-primary-500">
                    <span class="material-symbols-outlined text-4xl">lightbulb</span>
                    Thông báo
                </a>
            </div>
        </nav>
    </footer>

    <script>
    const WASHING_TYPES = { 
      top: { label: "Cửa trên", baseMultiplier: 1 }, 
      front: { label: "Cửa trước", baseMultiplier: 1 }, 
    };

    const CAPACITY_MULTIPLIER = {
      below_9: 1,
      above_9: 1.5,
    };

    const washingState = {
      top: { quantity: 1, capacity: "below_9" },
      front: { quantity: 0, capacity: null },
    };

    const DEVICES = [];
    let deviceId = 0; 
    let remove = false;
    const removePrice = 100000;

    const urlParams = new URLSearchParams(window.location.search);
    const basePrice = Number(urlParams.get("price")) || 500000; // Giá mặc định nếu không có tham số
    const task_id = urlParams.get("id");
    let task_name = "";
    let task_unit = "";
    let final_amount = 0;

    // xử lý chọn công suất của mỗi thiết bị
    document.querySelectorAll("[data-type]").forEach(block => {
      const type = block.dataset.type;
      const addBtn = block.querySelector(".add-device-btn");

      addBtn.onclick = () => {
        const capacityRadio = block.querySelector("input[type=radio]:checked");
        if (!capacityRadio) {
          alert("Vui lòng chọn khối lượng trước khi thêm thiết bị");
          return;
        }

        const capacity = capacityRadio.nextElementSibling.innerText.includes("Dưới")
          ? "below_9" : "above_9";

        const remove = block.querySelector("input[type=checkbox]").checked;

        const amount = basePrice * CAPACITY_MULTIPLIER[capacity] + (remove ? removePrice : 0);

        DEVICES.push({
          id: ++deviceId,
          type,
          label: WASHING_TYPES[type].label,
          capacity,
          remove,
          amount
        });

        renderDeviceSummary();
        updatePriceSummary();
      };
    });

    async function getTaskDetail() {
      try {
        const token = localStorage.getItem("token");
        if (!token) {
          alert("Vui lòng đăng nhập");
          location.href = "../auth/login-signup.html";
          return;
        }

        const res = await fetch(`http://localhost:3000/api/task/${task_id}`, 
        {
          headers: {
            Authorization: `Bearer ${token}`
          }
        });

        console.log("TOKEN: ", token);

        if (res.status === 401) {
            localStorage.removeItem("token");
            alert("Token đã hết hạn hoặc không hợp lệ! Vui lòng đăng nhập lại.");
            window.location.href = "../auth/login-signup.html";
            return;
        }

        const data = await res.json();
        console.log("TASK DETAIL: ", data.task);
        if (!data.success) return;

        task_name = data.task.task_name;
        task_unit = data.task.unit;

      } catch (err) {
        console.error("Load services failed", err);
      }
    }

    getTaskDetail();

    // xử lý logic hiển thị tổng tiền tạm tính
    function animatePrice() {
      const box = document.getElementById("price-summary");
      box.classList.add("scale-105");
      setTimeout(() => box.classList.remove("scale-105"), 150);
    }

    function updatePriceSummary() {
      const total = DEVICES.reduce((sum, d) => sum + d.amount, 0);

      document.getElementById("total-price").textContent =
        formatCurrency(total);

      document.getElementById("totalTimeText").textContent =
        `${DEVICES.length} giờ`;

      animatePrice();
    }

    // hiển thị danh sách các thiết bị đã chọn
    function renderDeviceSummary() {
      const container = document.getElementById("deviceSummary");
      container.innerHTML = "";

      if (DEVICES.length === 0) {
        container.innerHTML =
          `<p class="text-sm text-gray-400">Chưa có thiết bị nào được thêm</p>`;
        return;
      }

      DEVICES.forEach((d, index) => {
        const div = document.createElement("div");
        div.className =
          "text-sm text-gray-700 bg-gray-50 p-3 rounded-lg space-y-1";

        div.innerHTML = `
          <div class="flex justify-between items-start">
            <div>
              <p class="font-medium">
                Thiết bị ${index + 1} – ${d.label}
              </p>
              <p>
                Khối lượng: ${d.capacity === "below_9" ? "Dưới 9 Kg" : "Từ 9 Kg trở lên"}
              </p>
              <p>
                Tháo lồng giặt: ${d.remove ? "Có" : "Không"}
              </p>
            </div>

            <button
              onclick="removeDevice(${d.id})"
              class="text-red-500 text-xs font-medium">
              Xóa
            </button>
          </div>

          <p class="text-primary-500 font-semibold">
            Giá: ${d.amount.toLocaleString()}đ
          </p>
        `;

        container.appendChild(div);
        animatePrice();
      });
    }
    
    // xóa một thiết bị khỏi list
    function removeDevice(id) {
      const index = DEVICES.findIndex(d => d.id === id);
      if (index === -1) return;

      DEVICES.splice(index, 1);
      renderDeviceSummary();
      updatePriceSummary();
    }

    const formatCurrency = (v) => v.toLocaleString("vi-VN") + "đ";

    function calculateBaseAmount() {
      const total =  DEVICES.reduce((sum, d) => sum + d.amount, 0);
      document.getElementById("total-price").textContent = formatCurrency(total);
      return total;
    }

    function saveDraft() {
      bookingDraft = {
        task_id,
        type: "immediate",
        base_amount: calculateBaseAmount(),
        final_amount: calculateBaseAmount(),

        task_snapshot: {
          code: "WASHING_MACHINE",
          name: task_name,
          pricing: basePrice,
          unit: task_unit
        },

        task_payload: {
          devices: DEVICES,
          total_time: DEVICES.length * 60,
          final_amount: calculateBaseAmount(),
        },

        note: ""
      };

      localStorage.setItem("bookingDraft", JSON.stringify(bookingDraft));
    }

    function handleBookingNow() {
      if (DEVICES.length === 0) {
        alert("Vui lòng thêm ít nhất 1 thiết bị");
        return;
      }
      saveDraft();
      localStorage.setItem("bookingDraft", JSON.stringify(bookingDraft));
      console.log("BOOKING DRAFT: ", bookingDraft);
      window.location.href = "../book_now.html";
    }

  </script>
</body>

</html>